@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>The RoboBears is the first and longest running FTC robotics team in Nebraska.</h4>

<p>We're based out of <a href="https://www.google.com/maps/place/Blair,+NE+68008/">Blair, Nebraska</a>, and are bio as of last years competition reads:</p>
<section id="Bio">
    <p></p>
</section>