@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Club Email:</strong>   <a href="mailto:ftcrobobears@gmail.com">ftcrobobears@gmail.com</a><br />
    <strong>Head Programmer:</strong>  <a href="mailto:lucasniewohner@gmail.com">lucasniewohner@gmail.com</a>
</address>

<small>Please email only concerns related to this website to the Head Programmer.  The Club Email is available for all other purposes.</small>