@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RoboBears</h1>
    <p class="lead">We are a totally awesome running robotics club based out of <a href="https://www.google.com/maps/place/Blair,+NE+68008/">Blair, Nebraska</a></p>
    <p><strong>We Are the Longest Running Robotics Club in Nebraska.</strong>  And we're here to school all ye young-uns.</p>
    <p><a href="@Url.Action("About","Home")" class="btn btn-default btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            The RoboBears is an FTC Robotics Club based out of <a href="https://www.google.com/maps/place/Blair,+NE+68008/">Blair, Nebraska</a>.
            We've been to 5 competitions and counting.  And we've got quite the bio.  Click below to learn more.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("About","Home")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Database</h2>
        <p>One of the largest tools is our huge database.  This database is a crowd-sourced collection of team and competition data.  This data is publicly available to any registered team member.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Home",new { area = "Database" })">Start Contributing &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reports</h2>
        <p>All of that data we've accumulated can be viewed efficently with our reports.  We give detailed and visual representations of our data so you can make educated decisions on the Mat.  Use this to get visual stats of team's robots, members, and strengths, the outcomes of competitions, and more.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Reports &raquo;</a></p>
    </div>
</div>