<h2>Roles</h2>
<hr />
<div class="row">
    <div class="col-xs-12 Management-Button" onclick='window.location = "@Url.Action("Find","Admin")"'>
        <h3>Find User</h3>
    </div>
    <div class="col-xs-6 Management-Button" onclick='window.location = "@Url.Action("Grant","Admin")"'>
        <h3>Grant Role</h3>
    </div>
    <div class="col-xs-6 Management-Button" onclick='window.location = "@Url.Action("Revoke","Admin")"'>
        <h3>Revoke Role</h3>
    </div>
</div>